* {
    margin: 0;
    padding: 0;
    background: #222;
}
.container {
    width: auto;
    height: 520px;
    position: relative;
    background-image: radial-gradient(circle, rgb(0, 0, 0) 20%, rgb(31, 31, 31) 40%, rgb(37, 37, 37) 60%);
    overflow: hidden;
    border-bottom: 2px solid blue;
}
.cards {
    position: absolute;
    display: flex;
    width: 900px;
    top: 300px;
    left: 350px;
}
.one {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, rgb(255, 0, 0), rgb(255, 100, 100));
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(255, 148, 148);
    top: 25px;
    display: inline-block;
    transform: rotate(-20deg);
    position: absolute;
    z-index: 1;
    transition: all 1s linear 0s;
}
.two {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, hotpink, pink);
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(119, 0, 93);
    display: inline-block;
    top: 13px;
    position: absolute;
    left: 7%;
    transform: rotate(-15deg);
    z-index: 1;
    transition: all 1s linear 0s;
}
.three {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, rgb(255, 0, 119), rgb(255, 100, 172));
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(165, 0, 77);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 14%;
    transform: rotate(-10deg);
    z-index: 2;
    transition: all 1s linear 0s;
}
.four {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, blue, cyan);
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(0, 100, 100);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 20%;
    transform: rotate(-5deg);
    z-index: 3;
    transition: all 1s linear 0s;
}
.five {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, cyan, skyblue);
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(135, 100, 100);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 26%;
    transform: rotate(0deg);
    z-index: 4;
    transition: all 1s linear 0s;
}
.six {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, skyblue, rgb(109, 255, 225));
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(135, 100, 100);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 33%;
    transform: rotate(0deg);
    z-index: 5;
    transition: all 1s linear 0s;
}
.seven {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, seagreen, springgreen);
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(0, 100, 50);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 38%;
    transform: rotate(5deg);
    z-index: 6;
    transition: all 1s linear 0s;
}
.eight {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, green, seagreen);
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(0, 100, 50);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 44%;
    transform: rotate(10deg);
    z-index: 7;
    transition: all 1s linear 0s;
}
.nine {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, yellow, rgb(255, 255, 124));
    border: 1px solid white;
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(124, 124, 0);
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 48%;
    transform: rotate(15deg);
    z-index: 8;
    transition: all 1s linear 0s;
}
.ten {
    width: 150px;
    height: 250px;
    background-image: linear-gradient(to right top, rgb(175, 175, 0), wheat);
    padding: 20px 0 0 20px;
    font-size: 38px;
    color: rgb(124, 124, 0);
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 53%;
    transform: rotate(20deg);
    z-index: 9;
    transition: all 1s linear 0s;
}
.ten:hover {
    transform: rotate(0deg);
    top: -170px;
}
.nine:hover {
    transform: rotate(0deg);
    top: -170px;
}
.eight:hover {
    transform: rotate(0deg);
    top: -170px;
}
.seven:hover {
    transform: rotate(0deg);
    top: -170px;
}
.six:hover {
    transform: rotate(0deg);
    top: -170px;
}
.five:hover {
    transform: rotate(0deg);
    top: -170px;
}
.four:hover {
    transform: rotate(0deg);
    top: -170px;
}
.three:hover {
    transform: rotate(0deg);
    top: -170px;
}
.two:hover {
    transform: rotate(0deg);
    top: -170px;
}
.one:hover {
    transform: rotate(0deg);
    top: -170px;
}








.center {
    text-align: center;
    position: relative;
    top: 60px;
}
.page {
    display: inline-block;
}
.page a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #929292;
    margin: 0 4px;
}
.page a.active {
    background-color: #724caf;
    color: white;
    border: 1px solid #724caf;
}
.page a:hover:not(.active) {
    background-color: #7abd7d;
}